
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: antiquewhite;
}

#container {
    display: flex;      /*The itens are set side by side not one below another*/
    flex-wrap: wrap;    /*Makes that if there is no space in the container, the following itens will go to the next line*/
    width: 100vw;       /*All the screen*/
    height: 100vh;      /*All the screen*/
}

/*Number of squares*/
:root {
    --grid-size: 16
}

/*This makes the size of the box's border be counted*/
* {
    box-sizing: border-box;
}

.square {
    flex: 1 0 calc(100% / var(--grid-size));        /*Caltulates the size of the square: 1 = fulfill the blank space // 0 = prevents of being shrink due the lack of space*/
    height: calc(100% / var(--grid-size));          /*Calculates the number of squares per height*/
    border: 1px solid black;                      /*Thickness of the border and it's colour OBS: fabc is a beautiful colour*/
}